# Node modules
node_modules/

# Build output
#dist/

# Environnements locaux


# Logs
npm-debug.log*
pnpm-debug.log*

yarn-debug.log*
yarn-error.log*

# Cache Vite
node_modules/.vite/

# System files









.DS_Store
Thumbs.db

# IDE et éditeur
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
static.json