body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-top: -40px;
  margin-bottom: 110px;
}

.section {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  gap: 40px;
  align-items: flex-start;
}

.section .image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section .image-section img {
  max-width: 90%;
  max-height: 600px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.section .form-section {
  flex: 1;
  padding: 10px;
}

.form-section form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.form-section form input,
.form-section form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.form-section form textarea{
min-height: 120px
}

.form-section .buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.form-section .buttons button {
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  background-color: white;
  border: 1px solid;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.form-section .buttons button[type="submit"] {
  color: #4caf50;
  border-color: #4caf50;
}

.form-section .buttons button[type="submit"]:hover {
  background-color: #4caf50;
  color: white;
}

.form-section .buttons button[type="button"] {
  color: #f44336;
  border-color: #f44336;
}

.form-section .buttons button[type="button"]:hover {
  background-color: #f44336;
  color: white;
}

.form-section .message {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.form-section .message.success {
  color: green
}

.form-section .message.error {
  color: red
}
